{% extends 'dashboard-base.html' %}

{% block title %} Profile {% endblock %}

{% load static %}

{% block main %}
<div class="container-fluid mb-5">
    <div class="page-header min-height-300 border-radius-xl mt-4"
        style="background-image: url('{% static '/img/curved-images/curved0.jpg' %}'); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
    </div>
    <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">
            <div class="col-auto">
                <div class="avatar avatar-xl position-relative">
                    <img src="{% static '' %}media/{{ user.profile_photo }}" alt="profile_image"
                        class="w-100 border-radius-lg shadow-sm" style="object-fit: cover; aspect-ratio: 1 / 1 ">
                </div>
            </div>
            <div class="col-auto my-auto">
                <div class="h-100">
                    <h5 class="mb-1">
                        {{ user.lastname }} {{ user.firstname }}
                    </h5>
                </div>
            </div>
        </div>



        <!-- Profile Info -->
        <div class="col-12 col-xl-4">
            <div class="h-100">
                <div class="pb-0 p-3">
                    <div class="col-md-8 d-flex align-items-center flex-column w-100">
                        <hr class="horizontal gray-light">
                        <ul class="list-group">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                                <strong class="text-dark">Full Name:</strong> &nbsp; {{ user.lastname }} {{ user.firstname }}
                            </li>
                            <li class="list-group-item border-0 ps-0 text-sm">
                                <strong class="text-dark">Mobile:</strong> &nbsp; {{ user.phone_number }}
                            </li>
                            <li class="list-group-item border-0 ps-0 text-sm">
                                <strong class="text-dark">Email:</strong> &nbsp; {{ user.email }}
                            </li>
                            <li class="list-group-item border-0 ps-0 text-sm">
                                <strong class="text-dark">Address:</strong> &nbsp; {{ user.address }}
                            </li>
                            <li class="list-group-item border-0 ps-0 text-sm">
                                <strong class="text-dark">Location:</strong> &nbsp; {{ user.location }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Profile Info -->
</div>
</div>
{% endblock %}